body {
    cursor: \F769;
}

.container_header {
    background-color: #f8f9fa;
    color: #374785;
}

caption {
    font-size: 30px;
    strong;
}

.container_main {

}

#search {

}

.container_footer{

}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    width: 100%;
    border: 1px solid #ddd;
}

.styled-table thead tr {
    background-color: #f2f2f2;
    border-bottom: 2px solid #ddd;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}


.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

.footer p {
    margin: 0;
    line-height: 1.5;
}