{% extends 'base.html' %}

{% block title %}Contact's Book{% endblock %}

{% block content %}
<!-- Left section: Contacts Table -->
<div class="contacts-table">
    <h2 class="text-center">Contacts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Phone number</th>
                <th scope="col">Email</th>
                <th scope="col">Country of birth</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>
                    {% if contact.photo %}
                    <img scr="{{ contact.photo.url }}" alt="Contact`s photo" width="50">
                    {% else %}
                    <img src="../media/icon.jpg" alt="Photo" width="50">
                    {% endif %}
                </td>
                <td>{{ contact.first_name }}</td>
                <td>{{ contact.last_name }}</td>
                <td>{{ contact.phone_number }}</td>
                <td>{{ email }}</td>
                <td>{{ country_of_birth }}</td>
            </tr>
            {% endfor %}
<!--            <tr>-->
<!--                <td>1</td>-->
<!--                <td>img.png</td>-->
<!--                <td>Roman</td>-->
<!--                <td>Rudniev</td>-->
<!--                <td>+123456789</td>-->
<!--                <td>romanrudniev007@gmail.com</td>-->
<!--                <td>Ukraine</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>2</td>-->
<!--                <td>img2.jpg</td>-->
<!--                <td>Qwerty</td>-->
<!--                <td>Uio</td>-->
<!--                <td>+987654321</td>-->
<!--                <td>qwertyuio@outlook.com</td>-->
<!--                <td>Ukraine</td>-->
<!--            </tr>-->
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>

<!-- Right section: Action Buttons -->
<div class="action-buttons">
    <a href="#" class="btn btn-primary">New Contact</a>
    <a href="#" class="btn btn-secondary">Edit Contact</a>
    <a href="#" class="btn btn-danger">Delete Contact</a>
    <a href="#" class="btn btn-info">About Contact</a>
    <a href="#" class="btn btn-success">Display</a>
</div>
{% endblock %}
