<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact`s book</title>
</head>
<body>
    <h1>Contact`s book</h1>
    <div class="table_contacts">
        <table>
            <thade>
                <tr>
                    <th>№</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone number</th>
                    <th>Email</th>
                </tr>
            </thade>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Roman</td>
                    <td>Rudniev</td>
                    <td>Phone number</td>
                    <td>romanrudniev@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="buttons">
        <ul>
            <li>New contact</li>
            <li>Edit contact</li>
            <li>About contact</li>
            <li>Display</li>
            <li>Delete contact</li>
        </ul>
    </div>
</body>
</html>